<!DOCTYPE html>

<html>
<head>
<style>

body {
    background-image: url("background2.jpg");
    background-position: right top;
    background-attachment: fixed;
} 
</style>
<link rel="stylesheet" href="/style2.css">



</head>
<p><img src="TTTbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="#" shape="poly" coords="80,6,386,5,390,44,83,45" />
    <area alt="" title="" href="#" shape="poly" coords="67,53,129,53,129,81,71,81" />
    <area alt="" title="" href="#" shape="poly" coords="135,53,252,56,254,74,136,77" />
    <area alt="" title="" href="#" shape="poly" coords="261,51,336,52,332,76,270,78" />
    <area alt="" title="" href="#" shape="poly" coords="343,52,393,53,398,76,354,74" />
</map>
    
<p><audio controls autoplay>
   <source src="" type="audio/mpeg">
</audio></p><br>


<form action="/startgames" method="POST">
<p style="color:white"><br>
What's Your Name?<br>
 <input type="text" name="name"> <br>
<br>
How Old are You?<br>
<input type = "text" name="age" autocorrect=off autocapitalize=words ><br>
<br>
  <input type="radio" name="playgame" value="Joe's Trippy Adventure Game" checked>Joe's Trippy Adventure Game
  <br>
  <input type="radio" name="playgame" value="Jade's Safari Adventure Game">Jade's Safari Adventure Game
  <br><br>
 <input type="image" src="startgame.jpg" name="submit"> </p>
</form>
<br><br><br><br><br><br><b><p style ="color:white"><script src=http://fastonlineusers.com/online.php?d=www.mohager.co.sr></script> users have checked out my games</b></p>
  </body>
    </html>