<!DOCTYPE html>
<html>
	<head>
		<title>Mined Minds Tic Tac Toe</title>
		<link rel="stylesheet" href="../public/css/main-style.css">
	</head>
	<body>
		<header>
			<a href="index.html">
				<img class="header-image" src="../public/img/mm.png" alt="header image">
			</a>
			<div class="greeting">
				<span>Welcome to Mined Minds Tic Tac Toe!</span>
			</div>
			<nav>
				<ul>
					<li class="youarehere"><a href="index.html" >Home</a></li>
					<li><a href="rules.html">Tic Tac Toe Rules</a></li>
					<li><a href="http://localhost:4567/tictactoe">Play Tic Tac Toe</a></li>
					<li><a href="http://www.minedminds.org" target="new">Minedminds.org</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<img src="../public/img/13931469.jpg" alt="info about image">
		</section>
		<footer>
		&copy; 2015 Mined Minds
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="app.js"></script>
	</body>
</html>