<!DOCTYPE html>
<html>
	<head>
		<title>Mined Minds Tic Tac Toe</title>
		<link rel="stylesheet" href="../public/css/main-style.css">
	</head>
	<body>
		<header>
			<a href="index.html">
				<img class="header-image" src="../public/img/mm.png" alt="header image">
			</a>
			<div class="greeting">
				<span>Welcome to Mined Minds Tic Tac Toe!</span>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="youarehere"><a href="rules.html">Tic Tac Toe Rules</a></li>
					<li><a href="http://localhost:4567/tictactoe">Play Tic Tac Toe</a></li>
					<li><a href="http://www.minedminds.org" target="new">Minedminds.org</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<p>From <a href="https://en.wikipedia.org/wiki/Tic-tac-toe" target="new">Wikipedia:</a><br><br>
			Tic-tac-toe (also known as Noughts and crosses or Xs and Os) is a paper-and-pencil game for two players, X and O, 
			who take turns marking the spaces in a 3 x 3 grid.  
			The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins the game.  
			The following example game is won by the first player, X:
			</p>
			<img src="../public/img/tictactoe.svg" alt="tictactoe example">
		</section>
		<footer>
		&copy; 2015 Mined Minds
		</footer>
	</body>
</html>
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help