img {display:block;margin:0 auto;border: 3px solid #191970;}

table {font:2.0em comic sans ms;color: red; border-collapse: collapse; margin:auto; }

td {padding:20px 25px;}                               
td.br {border-bottom: 5px solid #191970; border-right: 5px solid #191970;}
 
td.b {border-bottom: 5px solid #191970;} 
td.r {border-right: 5px solid #191970;}


p {text-align:center;}

lo {text-align:center;font:1.5em consolas;}
form {text-align:center;}


input.box {width:20px;text-align:center;}

body {
    background-image: url("TicTacToePowerPoint1.jpg");
    
    background-position: right top;
    background-attachment: fixed;
} 

body, a:hover {cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.png), progress !important;} /* End http://www.cursors-4u.com */